$black: #1E2D3B;
$yellow: #faee1c;
$black-gray: #232B2B;
$darkgray: #414A4C;
$gray: #808080;
$lightgray: #A9A9A9;
$mediumwhite: #ECECEC;
$mediumwhite_2: #FAFBFC;
$white: #F0F0F0;
$simplegray: #F3F4F8;
$realblack: #000;
$realwhite: #fff;