.section-subheader {
    width: 100%;
    position: relative;
    padding: 150px 0;

    @include media('<=sm') {
        padding: 75px 0;
    }
    &-wrapper {
        height: 100%;
        justify-content: center;
        gap: 50px;

        @include media('<=sm') {
            flex-direction: column;
        }

        &__image {
            min-width: 400px;
            min-height: 600px;
            background-image: url(../img/cert-1.jpg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            transition: all ease .25s;
            &.full {
               .section-subheader-wrapper__image__background {
                    position: fixed;
                    top: 0;
                    left: 0;
                    z-index: 9999;
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba($color: #000000, $alpha: 0.35);
                    &__image {
                        background-image: url(../img/cert-1.jpg);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &__text {
            @include comfortaa-regular;
            @include lg-font-size;
            position: relative;
            line-height: 40px;
        }
        &__heading {
            @include title-font-size;
            @include balsamiq;
            color: $black;
        }

    }

}

